<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      Golden Wrench Bracket
    </title>
    <style>
      {% include "css/site.css" %}
    </style>
  </head>
  <body>

    <main class="site-main" role="main">
      <div class="container">
        {{ content }}
      </div>
    </main>

  </body>
</html>